<%= form_for ([candidate,candidate.notes.build]) do |f| %>
<div><%= f.label :text %><br />
<%= f.text_area :text %></div>

<div><%= f.label :date %><br />
  <%= f.date_select :date %></div>

<div><%= f.submit %><br /></div>
<% end %>
