<h2>Subscription Plans</h2>
<table id="subscriptions">
  <tr class = "rows">
    <th>Plan<b> <a id="compare" href ="">(compare plans)</a></b></th>
    <th>Price (USD)</th>

  </tr class = "rows" >
  <% @plans.each do |plan| %>
   <tr class = "rows">
     <td class= "cols"><%= plan.name %></td>
     <td class= "cols">$<%= plan.price %></td>
   </tr>
 <% end %>
</table>

<br />

<br />
<%= field_set_tag 'Choose Your Plan' do %>
  <%= form_for current_user, url: subscribe_user_subscriptions_path, method: :post do |p|  %>

   <div>
    <%=collection_select(:user, :subscription_plan_id, SubscriptionPlan.all, :id, :name, {:include_blank => 'Choose a plan'}) %>
   </div> <br />
   <div><%= label_tag 'sign me up for:' %><br />
     <%= check_box_tag 'monthly letters'%>
     <%= label_tag 'monthly letters'%><br>
     <%= check_box_tag 'special offer notifications'%>
     <%= label_tag 'special offer notifications'%></div><br />

   <div><%= p.submit "Continue >>"%></div>
  <% end %> 

<% end %>
