<%= link_to "Home", root_path %></div>
<%= form_for(@contact_us, :url => action_path) do |c| %>

  <% if @contact_us.errors.any? %>
    <div id="error_explanlation">
      <h2><%= pluralize(@contact_us.errors.count, "error") %> prohibited this Contact form from being saved:</h2>

      <ul>
      <% @contact_us.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Contact us</legend>

<div class='container'>*
  <%= c.label :name %><br />
  <%= c.text_field :name %>
</div>
<div class='container'>*
  <%= c.label :email %><br />
  <%= c.email_field :email %>
</div>
<div class='container'>
  <%= c.label :phone_number %><br />
  <%= c.text_field :phone_no %>
</div>
<div class='container'>*
  <%= c.label :message %><br />
  <%= c.text_area :message %>
</div>
<div class='container'>
    <%= image_tag ('show-captcha.png') %><br />
    <%= label_tag "Enter the code above here:" %>
    <%= text_field_tag 'code' %>
    <div class='short_explanation'>Can't read the image?
 </div>
<div class='container'><%= c.submit "Submit" %>
<div class='short_explanation'>* required fields</div>
<% end %>
</fieldset>
