<h1> Skills List </h1>

<table>
  <tr>
    <th> Name </th>
  </tr>

  <% @skills.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td> <%= link_to "Show", skill_path(s) %> </td>
    <td> <%= link_to "Edit", edit_skill_path(s) %> </td>
    <td> <%= link_to "Destroy",skill_path(s), :confirm => "r u sure", :method=> :delete %>
  </tr>
<% end %>
</table>
<br />
<%= link_to "Add a Skill",new_skill_path %>


