<h1>Candidate</h1>

<p>
  <b>First Name:</b>
  <%= candidate.firstname %>
</p>

<p>
  <b>Last Name:</b>
  <%= candidate.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= candidate.email %>
</p>

<p>
  <b>Phone:</b>
  <%= candidate.phone %>
</p>

<p>
  <b>Github:</b>
  <%= candidate.github %>
</p>

<p>
  <b>Twitter:</b>
  <%= candidate.twitter %>
</p>

<p>
  <b>Local:</b>
  <%= candidate.local ? 'Yes' : 'No' %>
</p>

<p>
  <bi>Willing to Relocate:</b>
  <%= candidate.willing_to_relocate ? 'Yes' : 'No' %>
</p>

<p>
  <b>Added On:</b>
  <%= candidate.added_on %>
</p>

<p>
  <b>Status:</b>
  <%= candidate.status %>
</p>

<p>
  <b>Resume:</b>
  <%= candidate.resume %>
 </p>


 <h3> List of Notes <h3>
    <% notes.each do |note| %>
    <b>Notes:</b><br />
    <%= note.text %>
    <b>Date Added: </b><br />
    <%= note.date %>
    <%=button_to "Delete Note", candidate_note_path(candidate, note), :method =>:delete, :confirm => "r u sure?" %>
  <% end %>

 
    <h3> Add Notes </h3>
  <%= render 'notes/newnotes' %>

<%= link_to 'Edit' , edit_candidate_path(candidate) %>
<%= link_to 'Back', candidates_url %>
