<%= form_for @payment ||= Payment.new, :html => {:id => :payForm} do |p| %>

 <% if @payment.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
 <dl>
 <%= p.hidden_field :stripe_card_token %>
 </dl>
 <div class=credit_card_form>
    <h3 id=title> Enter Credit Card </h3>
    <% if @payment.stripe_card_token.present? %>
   	 Credit card has been provided.
    <% else %> 
          <dl class="field">
      	      <dt><%= label_tag :card_number, "Credit Card Number " %></dt>
      	      <%= text_field_tag :card_number, nil, name: nil %>
  	  </dl>
  	  <dl class="field">
              <dt><%= label_tag :card_code, "Security Code on Card (CVV)" %></dt>
       	      <%= text_field_tag :card_code, nil, name: nil %>
 	  </dl>
  	  <dl class="field">
              <dt><%= label_tag :card_month, "Card Expiration" %></dt>
     	      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    	      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  	  </dl>
    <% end %>
    <div class="actions"><%= p.submit "Subscribe" %></div> 
 </div>

 <div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
 </div>
    
<% end %>


 

