<h1>Categories</h1>
<table id="payments">
  <tr class= "rows">
   	<th id ="head1"> Name </th>
	<th id ="head2"> Total Courses </th>
  </tr>

  <% @categories.each do |c| %>
  <tr class= "rows">
    <td class= "cols"><%= link_to(c.name, category_path(c))%></td>
    <td class= "cols"><%= c.tutorials_count %></td>
  </tr>
<% end %>
</table>
<br />


<h1>Tutorials</h1>
<table>
  <tr>
   <th> Title </th>
	<th> Duration</th>
	<th> Released date </th>
	<th> Link </th>
	<th></th>
  </tr>

  <% @tutorials.each do |s| %>
  <tr>
    <td><%= s.title %></td>
    <td><%= s.duration.strftime("%H:%M:%S") %></td>
    <td><%= s.release_date.strftime("%b %d, %Y") %></td>
    <td><%= link_to s.url, s.url  %></td>
    <td><%= link_to "Show", tutorial_path(s) %> </td>
    <td><%= link_to "Edit", edit_tutorial_path(s) %></td>
  </tr>
<% end %>
</table>
<br



